In [25]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [7]:
sales = pd.read_csv('Sales.csv', sep='\t')
sales.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,MonthID,ItemID,LocationID,Sum_GrossMarginAmount,Sum_Regular_Sales_Dollars,Sum_Markdown_Sales_Dollars,ScenarioID,ReportingPeriodID,Sum_Regular_Sales_Units,Sum_Markdown_Sales_Units
0,201408,256441,568,"4,99","9,99",0,1,20140801,1,0
1,201408,289471,24,"4,99","9,99",0,1,20140801,1,0
2,201408,289471,27,"4,99","9,99",0,1,20140801,1,0
3,201408,292637,530,"4,99","9,99",0,1,20140801,1,0
4,201408,292637,565,"4,99","9,99",0,1,20140801,1,0

In [29]:
sales['ReportingDate'] = 0
for i in tqdm(sales.index):
    sales['ReportingDate'].loc[i] = (str(sales['ReportingPeriodID'].loc[i]//10000000 % 10)+\
                                     str(sales['ReportingPeriodID'].loc[i]//1000000 % 10)+\
                                    str(sales['ReportingPeriodID'].loc[i]//100000 % 10)+\
                                    str(sales['ReportingPeriodID'].loc[i]//10000 % 10)+'-'+\
                                    str(sales['ReportingPeriodID'].loc[i]//1000 % 10)+\
                                    str(sales['ReportingPeriodID'].loc[i]//100 % 10)+'-'+\
                                    str(sales['ReportingPeriodID'].loc[i]//10 % 10)+\
                                    str(sales['ReportingPeriodID'].loc[i] % 10))

HBox(children=(IntProgress(value=0, max=923371), HTML(value='')))

D:\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [34]:
sales.head()

,MonthID,ItemID,LocationID,Sum_GrossMarginAmount,Sum_Regular_Sales_Dollars,Sum_Markdown_Sales_Dollars,ScenarioID,ReportingPeriodID,Sum_Regular_Sales_Units,Sum_Markdown_Sales_Units,ReportingDate
0,201408,256441,568,"4,99","9,99",0,1,20140801,1,0,2014-08-01
1,201408,289471,24,"4,99","9,99",0,1,20140801,1,0,2014-08-01
2,201408,289471,27,"4,99","9,99",0,1,20140801,1,0,2014-08-01
3,201408,292637,530,"4,99","9,99",0,1,20140801,1,0,2014-08-01
4,201408,292637,565,"4,99","9,99",0,1,20140801,1,0,2014-08-01

In [35]:
sales.to_csv('Sales1.csv')