 # <center>DAY 3 - IYKRA</center>
<center><font size="6">Foundation of Python Programming</font></center>
<hr>
<p style="text-align:center"> **Author**</p>
<center>**Joshua Effendi**</center>

In [1]:
import numpy as np
import pandas as pd

In [2]:
imdb = pd.read_csv("https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv", encoding='latin1')

## Exercise 1

** No.1 How many rows and columns reflected on dataset file IMDB-database-update.csv?**

In [3]:
print('Rows in IMDB-database-update.csv had been drop duplicates is {} and columns is {}'.format(imdb.shape[0],imdb.shape[1]))

Rows in IMDB-database-update.csv had been drop duplicates is 3781 and columns is 36

In [4]:
imdb = imdb.drop_duplicates(subset="movie_title")

**No.2  What are the top 3 movies with highest nett profit in 2015?**

In [5]:
imdb[imdb['title_year']==2015][['movie_title','net_USD']].sort_values(by=['net_USD'], ascending=False)[0:3].reset_index(drop=True)

               movie_title    net_USD
0           Jurassic World  502177271
1                  Minions  262029560
2  Avengers: Age of Ultron  208991599

**No.3 What are the top 3 movies with highest gross profit in 2016?**

In [6]:
imdb[imdb['title_year']==2016][['movie_title','net_USD']].sort_values(by=['net_USD'], ascending=False)[0:3].reset_index(drop=True)

               movie_title    net_USD
0                 Deadpool  305024263
1  The Secret Life of Pets  248505540
2          The Jungle Book  187645141

**No.4 How many non-english movies are in the dataset? **

In [7]:
print("""The movie with non-English language: {}
""".format(imdb[imdb['language']!='English'].shape[0]))

The movie with non-English language: 152

**No. 5 What are top 3 languages in the data set aside English (based on number of movies)?**

In [8]:
imdb[imdb['language']!='English'].groupby('language').count().sort_values(by=['movie_ID'], ascending=False)[['movie_ID']][0:3]

          movie_ID
language
French          33
Spanish         23
Mandarin        13

**No. 6 What are the top 3 countries with the highest nett profit in all dataset times?**

In [9]:
imdb.groupby('country').sum().sort_values(by=['net_USD'], ascending=False)[['net_USD']][0:3]

             net_USD
country
USA      50330300012
UK        1279724445
Canada     232040577

**No.7 What are the average budget of all movies in dataset in 2015?**

In [10]:
x=imdb[imdb['title_year']==2015][['budget_USD']].mean()[0]
print(x)

52102458.3333

**No.8 What are the average budget of all movies in dataset in 2016?**

In [11]:
y=imdb[imdb['title_year']==2016][['budget_USD']].mean()[0]
print(y)

66014754.0984

**No. 9 Which one is higher, average budget of all movies in dataset in 2015 or 2016?**

In [12]:
if x > y:
    print('Higher average budget: ${} and year is 2015'.format(x))
elif x < y:
    print('Higher average budget: ${} and year is 2016'.format(y))
else:
    print('No higher average budget')

Higher average budget: $66014754.09836066 and year is 2016

**No.10 What movie that resulted highest nett profit of all dataset times? How much did the movie make?**

In [13]:
imdb.sort_values(by=['net_USD'],ascending=False)[['movie_title','net_USD']][0:1]

  movie_title    net_USD
0      Avatar  523505847

## Exercise 2

 **Let’s set imdb_score benchmark as High-Rating movie with imdb_score > 7.5**

**Create new variables “score_group” (“High” if imdb_score > 7.5 and “Low” if imdb <= 7.5)**

In [14]:
imdb.loc[imdb.imdb_score > 7.5, 'score_group'] = 'High'
imdb.loc[imdb.imdb_score <= 7.5, 'score_group'] = 'Low'
imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250,score_group
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,855,4834,1,33000,0,886204,3054,7.9,0,High
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1000,48350,0,0,0,471220,1238,7.1,0,Low
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,23000,106759,1,164000,0,1144337,2701,8.5,1,High
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,4000,46055,0,0,0,383056,1902,6.2,0,Low
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,2000,24450,1,197000,0,371639,3018,6.9,0,Low

**Analyze at least 5 variables from which you can start figure out criteria of high rated movie**

In [15]:
imdb['score_group'] = imdb['score_group'].astype('category')
imdb['score_group'].cat.categories = [0,1]
imdb['score_group'] = imdb['score_group'].astype('float')
np.abs(imdb.corr(method= 'kendall')['score_group']).sort_values(ascending=False)[1:6]

imdb_top_250            0.516917
imdb_score              0.499927
num_voted_users         0.316254
num_user_for_reviews    0.279220
duration                0.204861
Name: score_group, dtype: float64

**Analyse 5 more variables to strengthen criteria of high rated movies**

In [16]:
imdb['score_group'] = imdb['score_group'].astype('category')
imdb['score_group'].cat.categories = [0,1]
imdb['score_group'] = imdb['score_group'].astype('float')
np.abs(imdb.corr(method= 'kendall')['score_group']).sort_values(ascending=False)[1:11]

imdb_top_250             0.516917
imdb_score               0.499927
num_voted_users          0.316254
num_user_for_reviews     0.279220
duration                 0.204861
movie_facebook_likes;    0.195189
net_USD                  0.165571
profitable               0.152667
director_facebook?       0.138118
color                    0.113296
Name: score_group, dtype: float64